:root {
  --text-color: #323031;
  --body-color: #e7ecef;
}

body {
  width: 250px;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

p {
  font-size: 0.75rem;
}

.logo-image {
  width: 100px;
  height: 100px;
}

#pluginName {
  padding: 0;
  margin: 0;
}

#usageHint {
  margin-left: 1rem;
}

#copyFromClipboardButton {
  margin-top: 0.5rem;
  width: 180px;
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  color: var(--body-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
